# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
build/
dist/

# Temporary files
tmp/
temp/

# Coverage directory used by tools like istanbul
coverage/

# Operating System files
.DS_Store
Thumbs.db

# IDE specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# React specific
/.cache
/coverage

# Yarn integrity file
.yarn-integrity

# Miscellaneous
*.tgz
*.zip